<!DOCTYPE html>
<html lang="en">
  <head>
    <title>invensys Private Limited</title>
   <link rel="stylesheet" href="/static/layout.css">
    <link rel="icon" href="/static/1.jpg" type="image/x-icon">
     
  </head>

  <body>
    <div class="container">
      <div class="banner">invensys Private Limited.</div>
      <div class="menu">
        <div class="menuitemselected"><a href="/home/">Home</a></div>
        <div class="menuitemselected"><a href="/products/">Products</a></div>
        <div class="menuitemselected"><a href="/people/">People</a></div>
        <div class="menuitemselected"><a href="/contactus/">Contact Us</a></div>
      </div>
      <div class="content">
          
            <h1>Contact Us</h1>
  <p>If you have any questions or feedback, please don't hesitate to reach out to us.</p>
  <ul>
    <li>Address: 321 , East Main Road Street, Tamilnadu , India</li>
    <li>Phone: +91 85746922431</li>
    <li>Email: contact@invensys.com</li></ul>
  
<h2> Sales Inquiries</h2>

<ul><li>India 1800 103 11231800 572 3535</li></ul>
    <h2>Press Inquiries</h2> 
<ul><li>press@invensys.com</li>

<li>Nanya Srivastava</li>
<li>nanya@invensys.com</li></ul>
    <h2>Analyst Relations</h2> 

    <ul><li>Sandra Lo</li>
    <li>+1-925-924-9500</li>
    <li>pr@invensys.com</li></ul>
        <h2>Customer Relations</h2> 

    <ul><li>Peter S. Balaji</li>
    <li>Director of Sales & Customer Service</li>
    <li>peterbalaji@invensys.com</li>
    </ul>
    
  </div>
   <div class="footer">
        Copyright &#169; 2023 invensys Private Limited, Developed by Dhanumalya D
      </div>
      </div>
</body>
</html>