<!DOCTYPE html>
<html lang="en">
  <head>
    <title>invensys Private Limited</title>
     <link rel="stylesheet" href="/static/layout.css">
    <link rel="icon" href="/static/11.jpg" type="image/x-icon">

  </head>

  <body>
    <div class="container">
      <div class="banner"> invensys Private Limited.</div>
      <div class="menu">
     <div class="menuitemselected"><a href="/home/">Home</a></div>
        <div class="menuitemselected"><a href="/products/">Products</a></div>
        <div class="menuitemselected"><a href="/people/">People</a></div>
        <div class="menuitemselected"><a href="/contactus/">Contact Us</a></div>
      </div>
      <div class="content">
        <div class="productcontent">   
          <h1>Our Premium Products</h1>
          <div class="productitems">
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book1.webp" alt="product image">
                  </div>
                  <div class="itemname"> The Time Machine</div>
                  <div class="itemprice">Price: Rs.250 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book2.webp"  alt="product image">
                  </div>
                  <div class="itemname">All the light we cannot see</div>
                  <div class="itemprice">Price: Rs.650 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book3.webp" alt="product image">
                  </div>
                  <div class="itemname">The Jungle Book</div>
                  <div class="itemprice">Price: Rs.450 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book4.webp" alt="product image">
                  </div>
                  <div class="itemname">Falling in Love Again</div>
                  <div class="itemprice">Price: Rs.290 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book5.webp" alt="product image">
                  </div>
                  <div class="itemname">Rizzoli-Enchanted World</div>
                  <div class="itemprice">Price: Rs.450 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book6.webp" alt="product image">
                  </div>
                  <div class="itemname">Journey to the Center OF the World</div>
                  <div class="itemprice">Price: Rs.450 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book7.webp" alt="product image">
                  </div>
                  <div class="itemname">The Alchemist</div>
                  <div class="itemprice">Price: Rs.300 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book8.webp" alt="product image">
                  </div>
                  <div class="itemname">ULYSSES</div>
                  <div class="itemprice">Price: Rs.2,350 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book9.webp" alt="product image">
                  </div>
                  <div class="itemname">Book of pie</div>
                  <div class="itemprice">Price: Rs.280 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book10.webp" alt="product image">
                  </div>
                  <div class="itemname">2034:THE NOVEL OF THE NEXT WORLD WAR</div>
                  <div class="itemprice">Price: Rs.400 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book11.webp" alt="product image">
                  </div>
                  <div class="itemname">THE ART THAT CHANGED THE WORLD</div>
                  <div class="itemprice">Price: Rs.250 </div>
              </div>
              <div class="productitem">
                  <div class="itemimage">
                  <img src="/static/images/book12.webp" alt="product image">
                  </div>
                  <div class="itemname">BTS:The Rise of Bangtan</div>
                  <div class="itemprice">Price: Rs.370 </div>
              </div>
          </div>
          </div>       
      </div>
      <div class="footer">
        Copyright &#169; 2023 invensys Private Limited, Developed by Dhanumalya D
      </div>
    </div>
  </body>
</html>
